:root {
  --menubar-height: 3px;
  --menubar-width: 23px;
  --menubar-bar-gap: 4px;
  --hamburger-timing-fn: 0.2s ease-in-out;
  --hamburger-height: calc(
    var(--menubar-height) * 3 + var(--menubar-bar-gap) * 2
  );
}

.hamburger-container {
  width: 30px;
  display: flex;
  justify-content: center;
}
.hamburger-btn {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: var(--menubar-bar-gap);
  cursor: pointer;
}

.hamburger-input {
  appearance: none;
  padding: 0;
  margin: 0;
  pointer-events: none;
  outline: none;
}

.hamburger-input,
.hamburger-btn::before,
.hamburger-btn::after {
  content: '';
  height: var(--menubar-height);
  width: var(--menubar-width);
  background-color: var(--text-color);
  transform-origin: left;
  transition:
    transform var(--hamburger-timing-fn),
    opacity var(--hamburger-timing-fn),
    width var(--hamburger-timing-fn);
}

.hamburger-btn input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-btn:has(input:checked)::before {
  transform: translateY(calc(var(--menubar-height) / -2)) rotate(45deg);
  width: var(--x-width);
}

.hamburger-btn:has(input:checked)::after {
  transform: translateY(calc(var(--menubar-height) / 2)) rotate(-45deg);
  width: var(--x-width);
}

header {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.5);
  border-bottom: var(--color-white-200) 1px solid;
  height: 60px;
  min-height: 60px;
  position: sticky;
  z-index: 99;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  justify-self: center;
  padding: 0 20px;
}

.logo {
  background-color: var(--color-black);
  padding: 5px 7px;
  font-weight: 600;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.logo p:first-child {
  background-color: var(--color-white-100);
  color: var(--color-black);
  border-radius: 3px;
  padding: 0px 2px;
}

.logo p:nth-child(2) {
  color: var(--color-white-100);
}

.header .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.mode-toggle {
  position: relative;
  display: flex;
  align-items: center;
  appearance: none;
  height: 22px;
  width: 45px;
  border: 1px solid var(--text-color);
  border-radius: 20px;
  background-color: var(--color-zinc-100);
}

.mode-toggle:hover {
  border-color: var(--color-orange-500);
}

.mode-toggle span {
  position: absolute;
  border-radius: 50%;
  width: fit-content;
  height: 75%;
  width: fit-content;
  padding: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.dark {
  background: var(--color-black);
  color: #fff;
  transform: translateX(23px);
  /* filter:brightness(0.8) contrast(1.2) */
}

.light {
  background: var(--color-white-100);
}

.sun {
  height: 100%;
  width: auto;
}

.moon {
  height: 100%;
  width: auto;
}

.project_link {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  gap: 5px;
}

.project_link svg {
  stroke-width: 1px;
  color: var(--text-color);
}
.project_link:hover::before {
  content: 'Voir les projets';
  animation: see-projects 0.2s ease-in-out;
}

@keyframes see-projects {
  from {
    transform: translateX(-10px);
  }

  25% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(0);
  }
}

/*
/*
/* sidebar */
.sidebar {
  grid-row: 1/-1;
  grid-column: 2;
  height: 100vh;
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.contacts,
nav {
  border: 1px solid var(--color-white-200);
  box-shadow: 0px 1px 2px 0px rgb(52, 52, 52, 0.2);
  border-radius: 12px;
  display: flex;
  max-width: 600px;
  width: 100%;
}

.contacts {
  align-items: end;
  justify-content: space-around;
  padding: 15px 20px;
}
nav {
  padding: 20px 10px;
  gap: 10px;
  height: fit-content;
  flex-direction: column;
}

.resume-link {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-orange-500);
  color: var(--links-color);
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 0;
  border-radius: 8px;
  border: 2px solid var(--links-color);
}

.resume-link:hover {
  border: double;
}
.resume-link::before {
  content: '🔗';
}
nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav ul {
  list-style-type: none;
  font-weight: 600;
  font-size: 15px;
}

nav ul li {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 10px;
  align-items: center;
  width: max-content;
}

nav ul li::before {
  content: '■';
  font-weight: 900;
  font-size: 16px;
}

nav ul li:hover::before {
  content: '->';
  color: var(--color-orange-500);
}

nav ul li:first-child:hover::before {
  content: '↑';
}

.contacts svg {
  width: 25px;
  height: auto;
}

.call_me svg {
  width: 22px;
  color: #44b744;
}

.contacts a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  position: relative;
}

.contacts a:hover::before {
  position: absolute;
  width: max-content;
  top: -5px;
  animation: pop-contact 0.1s ease-out forwards;
}

.call_me:hover::before {
  content: 'Call me!';
}

.email_me:hover::before {
  content: 'Email me!';
}

.wa_me:hover::before {
  content: 'WhatsApp me!';
}

@keyframes pop-contact {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

/* footer */
footer {
  border-top: 1px solid var(--color-zinc-900);
  grid-row: 3;
  grid-column: 1;
  height: 100px;
}

footer div {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* mobile menu*/
.mobile-menu {
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  width: 100vw;
  z-index: 99;
  align-items: center;
}

.show-mobile-menu {
  display: flex;
  animation: show-menu 0.3s ease-out;
}

.hide-mobile-menu {
  display: none;
  opacity: 0;
  transform: translateX(100%);
}

.mobile-menu nav ul {
  list-style-type: none;
  font-weight: 600;
}

@keyframes show-menu {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}

@media (min-width: 1001px) {
  .mobile-menu {
    display: none;
  }
  .hamburger-container {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 0 15px;
  }

  .header .buttons {
    gap: 20px;
  }
}
