/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

html {
  scroll-behavior: smooth;
}
/* variables */

:root {
  --bg-color: #fff;
  --text-color: #2b2828;
  --links-color: rgb(0, 107, 153);
  --links-hover-color: #2b2828;
  --ft-geist-mono: 'Geist Mono';
  --svg-color: #2b2828;

  --mobile-text-size: 15px;
  --tab-text-size: 15px;
  --laptop-text-size: 16px;

  --color-orange-500: #fca311;
  --color-red: #bf225a;
  --color-black: #2b2828;
  --color-white-100: #fff;
  --color-white-200: #f4f4f5;
  --color-zinc-100: rgb(246, 246, 247);
  --color-zinc-900: #9e9fa9;
  --color-green-100: #ddfce7;
  --color-green-500: #00c753;

  --shadow-on-white: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
}

[data-theme='dark'] {
  --bg-color: rgb(9, 8, 13);
  --text-color: rgb(161, 161, 195);
  --links-hover-color: rgb(161, 161, 195);
  --color-zinc-100: #202127;
  --svg-color: #fff;
}

body {
  font-family:
    var(--ft-geist-mono),
    Helvetica,
    system-ui,
    -apple-system,
    sans-serif;
  color: var(--text-color);
  background: var(--bg-color);
  font-size: var(--laptop-text-size);
}

header {
  transition: transform 0.3s linear;
}

body.hide-header header {
  transform: translateY(-100%);
}

a {
  text-decoration: none;
  color: inherit;
}

p a {
  color: var(--links-color);
  text-decoration-color: var(--links-color);
  width: fit-content;
  text-decoration: underline 2px;
}

p a:hover {
  color: var(--links-highlight-color);
  text-decoration-color: var(--links-highlight-color);
}

nav .active {
  color: var(--color-red);
}

button {
  cursor: pointer;
}

section {
  scroll-margin-top: 30px;
}

.web-page {
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-template-rows: 60px 1fr 100px;
  position: relative;
}

main {
  display: flex;
  justify-content: center;
  grid-row: 2;
  grid-column: 1;
  position: relative;
}

header {
  grid-row: 1;
  grid-column: 1;
}

.main {
  width: 100%;
  max-width: 1200px;
  padding: 50px 0;
}

.content {
  padding: 5px 50px;
  margin-right: 20px;
}

.content p {
  margin-bottom: 10px;
  line-height: 30px;
}

.content h1 {
  margin: 100px 0 10px 0;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--color-zinc-900);
  border-bottom: var(--color-zinc-900) 1px solid;
  width: 40%;
}

@media (max-width: 600px) {
  body {
    font-size: var(--mobile-text-size);
  }
  .web-page {
    display: flex;
    flex-direction: column;
  }
  .content {
    padding: 5px 20px;
    margin-right: 0;
  }

  .content h1 {
    width: 90%;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  body {
    font-size: var(--tab-text-size);
  }
  .web-page {
    display: flex;
    flex-direction: column;
  }
  .content {
    padding: 5px 40px;
    margin-right: 0;
  }

  .content h1 {
    width: 60%;
  }
}
